services:
  mcp-server:
    build: .
    ports:
      - "8005:8005"
    env_file:
      - .env

    volumes:
      - .:/app
      - /app/.venv

    tty: true
    environment:
      - FORCE_COLOR=1
      - TERM=xterm-256color

    command: [ "uv", "run", "uvicorn", "main:app", "--reload", "--host", "0.0.0.0", "--port", "8005", "--log-level", "info", "--use-colors" ]
